@import "../../shared/colors.css";

/* userProfile */
.gaugeBox {
  width: 65vw;
  height: 20px;
  border-radius: 10px;
  background: var(--lightGray2);
  margin-top: 10px;
}

/* itemList */
.isClicked {
  color: var(--blackBtn);
  border-bottom: 3px solid var(--blackBtn);
  padding-bottom: 10px;
  border-radius: 2px;
  font-weight: bold;
}

.isNotClicked {
  color: var(--gray);
  padding-bottom: 15px;
}

/* myProfile */
.cameraBtnBox {
  position: absolute;
  z-index: 2;
  width: 100%;
  margin-top: 80px;
  margin-left: 105vw;
}

/* 내 프로필 수정 */
.label {
  font-size: 14px;
  color: var(--grayBtnText);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input:checked + .label {
  font-weight: bold;
  color: var(--black);
  border-bottom: 3px solid var(--yellow);
}

.idolGroupImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5px;
}

.nextBtn,
.nextOKBtn {
  padding: 18px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.nextBtn {
  color: var(--white);
  background-color: var(--gray);
  cursor: auto;
}

.nextOKBtn {
  color: var(--blackBtn);
  background-color: var(--yellow);
}

@media screen and (min-width: 415px) {
  .gaugeBox {
    width: 280px;
  }
  .cameraBtnBox {
    margin-left: 430px;
  }
}
