@import "../../shared/colors.css";

.categories,
.filterings {
  display: flex;
  overflow-x: scroll;
  margin: 10px;
  padding-right: 20px;
  cursor: pointer;
}
.categories {
  margin-top: 70px;
}

/* scroll bar 제거 ( chrome 환경) */
.categories::-webkit-scrollbar,
.filterings::-webkit-scrollbar {
  display: none;
}

.idolImg,
.filteringIdolImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.clickIdolGroupBtn {
  font-size: 13px;
  font-weight: bold;
  color: var(--black);
}

.idolGroupBtn {
  font-size: 13px;
  color: var(--grayText);
}

.idolGroupImg,
.clickIdolGroupImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 3px;
}

.idolGroupImg {
  border: 3px solid var(--white);
}

.clickIdolGroupImg {
  border: 3px solid var(--yellow);
}

.idolGroupLongName {
  width: 80px;
}
