@import "../../shared/colors.css";

.filterBox,
.filterCheckBox,
.filterIdolBox,
.filterPriceBox {
  height: 25px;
  padding: 5px 0;
  border-radius: 100px;
  margin-right: 10px;
  text-align: center;
  font-size: 14px;
}
.filterCheckBox {
  width: 90px;
}
.filterIdolBox {
  width: 120px;
}
.filterPriceBox {
  width: 170px;
}
.filterBox {
  width: 100px;
  background-color: var(--grayBtn);
  color: var(--grayBtnText);
}
.filterCheckBox,
.filterPriceBox,
.filterIdolBox {
  background-color: var(--blackBtn);
  color: var(--white);
}

.categories,
.filterings {
  display: flex;
  overflow-x: scroll;
  padding-right: 20px;
  cursor: pointer;
}
.categories {
  margin: 10px;
  margin-top: 70px;
}
.filterings {
  position: sticky;
  top: 55px;
  z-index: 10;
  background-color: var(--white);
  padding: 10px;
}

/* scroll bar 제거 ( chrome 환경) */
.categories::-webkit-scrollbar,
.filterings::-webkit-scrollbar {
  display: none;
}

.idolImg,
.filteringIdolImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.clickIdolGroupBtn {
  font-size: 13px;
  font-weight: bold;
  color: var(--black);
}

.idolGroupBtn {
  font-size: 13px;
  color: var(--grayText);
}

.idolGroupImg,
.clickIdolGroupImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 3px;
}

.idolGroupImg {
  border: 3px solid var(--white);
}

.clickIdolGroupImg {
  border: 3px solid var(--yellow);
}

.idolGroupLongName {
  width: 80px;
}
