.imgBox {
  position: relative;
  width: 100%;
}

.itemImg {
  width: 100%;
  height: auto;
}

.likeBtn {
  position: absolute;
  top: 185px;
  right: 25px;
  z-index: 2;
  width: 28px;
  height: 28px;
  background-image: url("https://goodsduck-s3.s3.ap-northeast-2.amazonaws.com/icon/icon_heart.svg");
  background-size: cover;
  cursor: pointer;
}

.clickLikeBtn {
  position: absolute;
  top: 184px;
  right: 26px;
  z-index: 2;
  width: 30px;
  height: 30px;
  background-image: url("https://goodsduck-s3.s3.ap-northeast-2.amazonaws.com/icon/icon_heart_click.svg");
  background-size: cover;
  cursor: pointer;
}

.likeBtn:hover {
  top: 184px;
  right: 26px;
  width: 30px;
  height: 30px;
  background-image: url("https://goodsduck-s3.s3.ap-northeast-2.amazonaws.com/icon/icon_heart_click.svg");
}

@media screen and (min-width: 415px) {
  .likeBtn {
    margin-left: 140px;
    margin-bottom: 145px;
  }
}
