.imgBox {
  position: relative;
  width: 100%;
}

.itemImg {
  width: 100%;
  height: auto;
}

.likeBox {
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-align: right;
  width: 99%;
  padding-bottom: 125px;
  padding-right: 5px;
}

.likeBtn {
  z-index: 2;
  width: 28px;
  height: 28px;
  background-image: url("https://goodsduck-s3.s3.ap-northeast-2.amazonaws.com/icon/icon_heart.svg");
  background-size: cover;
  cursor: pointer;
}

.clickLikeBtn {
  z-index: 2;
  width: 30px;
  height: 30px;
  background-image: url("https://goodsduck-s3.s3.ap-northeast-2.amazonaws.com/icon/icon_heart_click.svg");
  background-size: cover;
  cursor: pointer;
}

@media screen and (min-width: 415px) {
  .likeBox {
    padding-bottom: 140px;
    padding-right: 10px;
  }
}
