/* @import '../../shared/colors.css'; */

:root {
  --yellow: #ffe200;
  --white: #ffffff;
  --black: #000000;
  --gray: #bbbbbb;
  --lightGray: #f8f8f8;
  --lightGray2: #eeeeee;
  --red: #e15b5b;
  --darkRed: #e33e3e;
  --blue: #299bff;
  --green: #00920a;
  --darkGreen: #006e5e;
  --orange: #ff8d29;

  --blackNav: #444444;
  --blackBtn: #222222;
  --grayBtn: #f8f8f8;
  --grayBtnBorder: #707070;
  --grayBtnText: #888888;
  --grayText: #999999;
  --grayBorder: #dddddd;
}
