@import "../../shared/colors.css";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 3;
}

.search {
  font-size: 18px;
  width: 62vw;
  color: black;
  background-color: var(--white);
  border-radius: 3px;
  padding: 8px;
}

.search::placeholder {
  color: var(--gray);
  font-size: 14px;
}

.searchIcon {
  width: 18px;
  position: absolute;
  margin-left: 10px;
}

@media screen and (min-width: 415px) {
  .header {
    width: 415px;
    left: 30%;
  }
  .filteringHeader {
    width: 415px;
    left: 30%;
  }

  .search {
    width: 270px;
  }
}
