@import "../../shared/colors.css";

.label {
  font-size: 14px;
  color: var(--grayBtnText);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.input:checked + .label {
  font-weight: bold;
  color: var(--black);
}

.idolGroupImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 5px;
}
