.label {
  color: gray;
  text-align: center;
}

.input:checked + .label {
  font-weight: bold;
  color: black;
}

.idolGroupImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 5px;
}
