@import "../../shared/colors.css";

input::label {
  color: var(--gray);
  font-size: 12px;
}

input::placeholder {
  color: var(--gray);
  font-size: 12px;
}

.nextBtn,
.nextOKBtn {
  padding: 18px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.nextBtn {
  color: var(--white);
  background-color: var(--gray);
  cursor: auto;
}

.nextOKBtn {
  color: var(--blackBtn);
  background-color: var(--yellow);
}
