.likeBtn {
  z-index: 2;
  width: 22px;
  height: 22px;
  background-image: url("https://goodsduck-s3.s3.ap-northeast-2.amazonaws.com/icon/icon_heart3.svg");
  background-size: cover;
  cursor: pointer;
}
