@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 100;
  src: url("shared/fonts/NotoSansKR-Light.woff2") format("woff2"),
    url("shared/fonts/NotoSansKR-Light.woff") format("woff"),
    url("shared/fonts/NotoSansKR-Light.otf") format("truetype");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: normal;
  src: url("shared/fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("shared/fonts/NotoSansKR-Regular.woff") format("woff"),
    url("shared/fonts/NotoSansKR-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 400;
  src: url("shared/fonts/NotoSansKR-Regular.woff2") format("woff2"),
    url("shared/fonts/NotoSansKR-Regular.woff") format("woff"),
    url("shared/fonts/NotoSansKR-Regular.otf") format("truetype");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: medium;
  src: url("shared/fonts/NotoSansKR-Medium.woff2") format("woff2"),
    url("shared/fonts/NotoSansKR-Medium.woff") format("woff"),
    url("shared/fonts/NotoSansKR-Medium.otf") format("truetype");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 500;
  src: url("shared/fonts/NotoSansKR-Medium.woff2") format("woff2"),
    url("shared/fonts/NotoSansKR-Medium.woff") format("woff"),
    url("shared/fonts/NotoSansKR-Medium.otf") format("truetype");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: bold;
  src: url("shared/fonts/NotoSansKR-Bold.woff2") format("woff2"),
    url("shared/fonts/NotoSansKR-Bold.woff") format("woff"),
    url("shared/fonts/NotoSansKR-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 600;
  src: url("shared/fonts/NotoSansKR-Bold.woff2") format("woff2"),
    url("shared/fonts/NotoSansKR-Bold.woff") format("woff"),
    url("shared/fonts/NotoSansKR-Bold.otf") format("truetype");
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
