.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  z-index: 3;
}

.iconBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.isHomeIcon,
.isNotHomeIcon,
.isChatIcon,
.isNotChatIcon,
.isNewIcon,
.isNotNewIcon,
.isCommunityIcon,
.isNotCommunityIcon,
.isProfileIcon,
.isNotProfileIcon {
  width: 24px;
  height: 24px;
  background-size: cover;
  cursor: pointer;
  margin: 0 0 10px 0;
}

.isCommunityIcon,
.isNotCommunityIcon {
  width: 32px;
  height: 28px;
}

.isProfileIcon,
.isNotProfileIcon {
  width: 28px;
  height: 28px;
}

.isHomeIcon {
  background-image: url("https://goodsduck-s3.s3.ap-northeast-2.amazonaws.com/icon/icon_home_click.svg");
}
.isNotHomeIcon {
  background-image: url("https://goodsduck-s3.s3.ap-northeast-2.amazonaws.com/icon/icon_home.svg");
}
.isChatIcon {
  background-image: url("https://goodsduck-s3.s3.ap-northeast-2.amazonaws.com/icon/icon_chatting_click.svg");
}
.isNotChatIcon {
  background-image: url("https://goodsduck-s3.s3.ap-northeast-2.amazonaws.com/icon/icon_chatting.svg");
}
.isNewIcon {
  background-image: url("https://goodsduck-s3.s3.ap-northeast-2.amazonaws.com/icon/icon_upload_click.svg");
}
.isNotNewIcon {
  background-image: url("https://goodsduck-s3.s3.ap-northeast-2.amazonaws.com/icon/icon_upload.svg");
}
.isCommunityIcon {
  background-image: url("https://goodsduck-s3.s3.ap-northeast-2.amazonaws.com/icon/icon_community_click.svg");
}
.isNotCommunityIcon {
  background-image: url("https://goodsduck-s3.s3.ap-northeast-2.amazonaws.com/icon/icon_community.svg");
}
.isProfileIcon {
  background-image: url("https://goodsduck-s3.s3.ap-northeast-2.amazonaws.com/icon/icon_profile_click.svg");
}
.isNotProfileIcon {
  background-image: url("https://goodsduck-s3.s3.ap-northeast-2.amazonaws.com/icon/icon_profile.svg");
}

.isHomeText,
.isNotHomeText,
.isChatText,
.isNotChatText,
.isNewText,
.isNotNewText,
.isCommunityText,
.isNotCommunityText,
.isProfileText,
.isNotProfileText {
  font-size: 14px;
}

.isHomeText,
.isChatText,
.isNewText,
.isCommunityText,
.isProfileText {
  color: #000000;
}
.isNotHomeText,
.isNotChatText,
.isNotNewText,
.isNotCommunityText,
.isNotProfileText {
  color: #bbbbbb;
}

@media screen and (min-width: 415px) {
  .nav {
    width: 415px;
    left: 30%;
  }

  .isHomeIcon,
  .isNotHomeIcon,
  .isChatIcon,
  .isNotChatIcon,
  .isNewIcon,
  .isNotNewIcon,
  .isCommunityIcon,
  .isNotCommunityIcon,
  .isProfileIcon,
  .isNotProfileIcon {
    width: 36px;
    height: 36px;
  }

  .isCommunityIcon,
  .isNotCommunityIcon {
    width: 44px;
  }

  .isProfileIcon,
  .isNotProfileIcon {
    width: 40px;
    height: 38px;
  }

  .isHomeText,
  .isNotHomeText,
  .isChatText,
  .isNotChatText,
  .isNewText,
  .isNotNewText,
  .isCommunityText,
  .isNotCommunityText,
  .isProfileText,
  .isNotProfileText {
    font-size: 16px;
  }
}
